{% extends "administracion/jugador_base.html" %}

{% block breadcrumb2 %}
<li class="active"><span><a href="{% url 'editar_jugador' jugador.id %}">Editar</a></span></li>
{% endblock %}

{% block contenido_principal %}

<div class="col-lg-6">
								<div class="main-box">
									<header class="main-box-header clearfix">
										<h2>Actualizar la información</h2>
									</header>
									
									<div class="main-box-body clearfix">
										<form role="form" method="post">
												{% csrf_token %}
                                                   <div class="form-group">
                                                    <label for="{{field.id_for_label}}">Nombre Usuario</label>
                                                    <input class="form-control" id="id_username" maxlength="10" name="username" type="text" value="{{ jugador.user.username }}">
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="{{field.id_for_label}}">Password</label>
                                                    <input class="form-control" id="id_password" maxlength="10" name="password" type="password" value="{{ jugador.user.password }}">
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="{{field.id_for_label}}">Fecha de nacimiento (AAAA-MM-DD)</label>
                                                    <input class="form-control" format="%Y-%m-%d" id="id_fecha_nacimiento" name="fecha_nacimiento" type="text" value="{{ jugador.fecha_nacimiento }}">
                                                    </div>
                                                    <input type="hidden" id="jugador_id" name="jugador_id" value="{{ jugador.id }}"/> 
                                            <input type='submit' class="btn btn-default" value='Editar'/>
										</form>
									</div>
								</div>
							</div>


{% endblock %}