{% extends "administracion/enunciados.html" %}
{% block texto_boton %}
<a href="nuevo" class="btn btn-primary pull-right">
													<i class="fa fa-plus-circle fa-lg"></i>Nuevo enunciado 
												</a>
{% endblock %}
{% block opciones_enunciado %}
<td style="width: 15%;">
																<a href="{% url 'detalle_enunciado' enun.id %}" class="table-link">
																	<span class="fa-stack">
																		<i class="fa fa-square fa-stack-2x"></i>
																		<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
																	</span>
																</a>
	
															</td>
{% endblock %}
