{% extends "administracion/enunciados.html" %}
{% block boton %}
<a href="nuevo" class="btn btn-primary pull-right">
													<i class="fa fa-refresh fa-lg"></i>  Vincular enunciados
												</a>
{% endblock %}

{% block opciones_enunciado %}
<td style="width: 15%;">
<div class="onoffswitch">
														<input type="checkbox" name="onoffswitch_{{enun.id}}" class="onoffswitch-checkbox" id="myonoffswitch" checked>
														<label class="onoffswitch-label" for="myonoffswitch">
															<div class="onoffswitch-inner"></div>
															<div class="onoffswitch-switch"></div>
														</label>
													</div>
												</td>
{% endblock %}