{% extends "administracion/ejercicio_base.html" %}

{% block contenido_principal %}

<div class="col-lg-6">
								<div class="main-box">
									<header class="main-box-header clearfix">
										<h2>Borrar</h2>
									</header>
									
									<div class="main-box-body clearfix">
										<form action="" method="post">{% csrf_token %}
    									<p>¿Desea borrar el ejercicio "{{ object }}"?</p>
    									<input type="submit" value="Confirmar" />
										</form>
									</div>
								</div>
							</div>
{% endblock %}



